<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('../../blocks/stylesheets'); %> 
</head>

<body>
  <%- include('../../blocks/navbar'); %> 

  <div class="content" style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 30px 60px; height: 100%;">
    <h1><%= title %></h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Statut de Cas</th>
            <th scope="col">Date de l'Investigation</th>
            <th scope="col">Prénom</th>
            <th scope="col">Population à risque</th>
            <th scope="col">Date de soumission</th>
          </tr>
        </thead>
        <tbody>
          <% for( let index = 0; index < sheets.length; index++ ) { %>
            <tr>
              <th scope="row"><%= sheets[index].case_status %> </th>
              <td><%= sheets[index].firstname %> </td>
              <td><%= sheets[index].lastname %> </td>
              <td><%= sheets[index].risk_population %> </td>
              <td><%= sheets[index].created_at %> </td>
              <td> <a href="/dashboard/forms/notification/download?id=<%= sheets[index].id %>" id="<%= sheets[index].id %>" class="btn btn-success">Télécharger</a> </td>
            </tr>
          <% } %>
          
        </tbody>
      </table>
  </div>

  <%- include('../../blocks/javascripts'); %> 
  <script src="/javascripts/dashboard/forms/notification.js"></script>
</body>

</html>