<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('../blocks/stylesheets'); %> 
</head>

<body>
  <%- include('../blocks/navbar'); %> 

  <div class="content" style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 30px 60px; height: 100%;">
    <h1><%= title %></h1>
    <form style="width: 100%;">
        <div class="form-container" style="display: flex; flex-direction: row; justify-content: space-evenly;">

            <div class="left-form" style="display: flex; flex-direction: column;">
                <div class="form-group">
                    <label for="first_name">Nom</label>
                    <input type="text" class="form-control" id="first_name" placeholder="Nom" required>
                  </div>
                  
                  <div class="form-group">
                      <label for="last_name">Prénom</label>
                      <input type="text" class="form-control" id="last_name" placeholder="Prénom" required>
                    </div>
                    <div class="form-group">
                      <label for="matricule">Matricule</label>
                      <input type="text" class="form-control" id="matricule" placeholder="Matricule" required>
                    </div>
                    <div class="form-group">
                      <label for="phone">Téléphone</label>
                      <input type="tel" class="form-control" id="phone" placeholder="Téléphone" required>
                    </div>
                    <div class="form-group">
                      <label for="city">Ville - Village</label>
                      <input type="text" class="form-control" id="city" placeholder="Ville - Village" required>
                    </div>
            </div>

            <div class="right-form" style="display: flex; flex-direction: column;">
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="username" placeholder="Nom d'utilisateur" required>
                  </div>
                  
                  <div class="form-group">
                      <label for="email">Adresse Email</label>
                      <input type="email" class="form-control" id="email" placeholder="Adresse Email" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Mot de passe</label>
                      <input type="password" class="form-control" id="password" required>
                    </div>
                    <div class="form-group">
                      <label for="password2">Confirmez votre mot de passe</label>
                      <input type="password" class="form-control" id="password2" required>
                    </div>
                    <div class="form-group">
                      <label for="occupation">Votre Poste</label>
                      <input type="text" class="form-control" id="occupation" placeholder="Votre Poste" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </div >
       
        
      </form>
  </div>

  <%- include('../blocks/javascripts'); %> 
</body>

</html>